*{
    margin: 0;padding: 0;padding: 6px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  img {
    width: 175px;
  }

  #top-menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  li {
    list-style-type: none;
  }

  .nav-menu {
    padding: 0px 20px;
    border: none;
    font-size: 15px;
    color: #222222;
    font-weight: 495;
  }

  .article-1 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
    text-align: center;
  }

  .text-1 {
    font-size: 32px;
    text-align: center;
  }

  span {
    font-weight: 700;
    padding: 0px;
  }

  #image-2 {
    width: 112px;
    height: 32px;
    margin: 10px auto;
  }

  .article-2 {
    display: flex;
    justify-content: center;
  }

  .text-2 {
    font-size: 20px;
    width: 90vw;
    text-align: center;
    margin: 10px 0px;
  }

  .article-3 {
    display: flex;
    justify-content: center;
  }

  .button-main {
    border: none;
    background-color: #00b6d1;
    border-radius: 5px;
    padding: 16px;
    font-size: 14px;
    color: white;
    font-weight: 700;
    margin: 7px 0px;
  }

  .download-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin-top: 35px;
    width: 90vw;
    margin: auto;
    text-align: center;
  }

  #image-3 {
    height: 60px;
    width: 60px;
  }

  .article-5 {
    margin-bottom: 25px;
    color: #222222;
  }

  #small {
    font-size: 14px;
    font-weight: 400;
  }

  .download-section {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: auto;
    gap: 20px;
  }

  .download-english {
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
  }

  #eng-lang,
  .language {
    font-size: 20px;
    font-weight: 650;
    padding: 10px 0;
  }

  .button-1 {
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 12px;
    color: white;
    font-weight: 700;
    margin-top: 12px;
  }

  .extra-1-eng {
    font-size: 10px;
  }

  .extra-2-eng {
    font-size: 8px;
    word-break: break-word;
  }

  .sub-lang {
    font-size: 12px;
  }

  #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    padding: 10px;
  }

  @media (max-width: 600px) {
    .text-1 {
      font-size: 24px;
    }

    .text-2 {
      font-size: 16px;
    }

    .download-section-text {
      font-size: 20px;
    }

    .download-section {
      grid-template-columns: 1fr;
    }
  }
